@model IssueManager.Models.AssignmentsViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Assignment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.assignment.Name" class="control-label"></label>
                <input asp-for="@Model.assignment.Name" class="form-control" />
                <span asp-validation-for="@Model.assignment.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.assignment.Text" class="control-label"></label>
                <input asp-for="@Model.assignment.Text" class="form-control" />
                <span asp-validation-for="@Model.assignment.Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <table>
                    <tr>
                        <th>Entity</th>
                        <th></th>
                    </tr>
                    @for (var i = 0; i < Model.entities.Count; i++)
                    {
                        <tr>
                            <td>
                                @Html.CheckBoxFor(m => m.EntityCheck[Model.entities[i].Id])
                            </td>
                            <td>
                                @Model.entities[i].Name
                            </td>
                        </tr>    
                    }
                </table>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
